# should be in src/cli_project/
.env

.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

.vscode/
.DS_Store

*.log
# allow app.log to pass log_file tests
!src/app.log 
.cache/

dist/
build/
.pre-commit-cache/

sample*.txt
venv/
package_storage/
*.pyc
__pycache__/

src/package_storage/metadata/

# Don't push databases
*.db