requests
GitPython
python-dotenv
pytest
pytest-cov
mypy
types-requests
Flask
bcrypt
PyJWT
SQLAlchemy
psycopg2-binary
psycopg2
boto3
botocore
python-dateutil
structlog
transformers # takes ~6GB of space, including its dependencies
pyarrow>=10.0.0,<18.0.0  # Versions with prebuilt wheels
datasets