requests
GitPython
python-dotenv
pytest
pytest-cov
mypy
types-requests
Flask
bcrypt
PyJWT
SQLAlchemy
psycopg2-binary
psycopg2
boto3
botocore
selenium
python-dateutil
structlog
transformers[torch] # takes ~6GB of space, including its dependencies
datasets