name: Test Pipeline

on: 
  push:
    branches: [ main ]

jobs:
  build: 
    runs-on: ubuntu-latest

    # env: # add necessary environment variables here
      # GEN_AI_STUDIO_API_KEY: ${{ secrets.GEN_AI_STUDIO_API_KEY }}
      # HF_TOKEN: ${{ secrets.HF_TOKEN }}
      # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run mypy
        run: mypy src/

      - name: Run Tests
        run: python -m pytest --cov=src --cov-report=term-missing tests/
